<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>play-lists</title>
    <link rel="stylesheet" href="../../config/css/common.css">
    <link rel="stylesheet" href="./css/play-lists.css">
    <script src="../../commonjs/polyfill.min.js"></script>
    <script src="../../commonjs/axios.min.js"></script>
    <script src="../../bower_components/mockjs/dist/mock.js"></script>
    <script src="../../API/play-lists-data.js"></script>
    <script src="../../commonjs/common.js"></script>
    <script src="../../commonjs/jquery-1.10.2.min.js"></script>
    <script src="./js/play-lists.js"></script>
</head>
<body>
    <div id="demo-el-A"></div>
</body>
</html>